:root {

    --color-black: #000000;
    --color-backrground: #f5fcf8;
    --color-principal: #83f4bb;
    --color-secundaria: #14dc7c;
    --color-terciaria: #b4b4bc;
    --color-white: #ffffff;
    --color-botao: #005bc5;
}

.local {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 55px;
}

.local h1 {
    font-family: 'Goldman', sans-serif;
    font-size: 1.5rem;
    margin-top: 35px;
    color: var(--color-white);
}

.local p {
    font-family: sans-serif;
    font-size: 1.2rem;
    margin-top: 35px;
    color: var(--color-terciaria);
}

.local ul li {
    font-family: sans-serif;
    font-size: 1.2rem;
    margin-top: 35px;
    color: var(--color-terciaria);
    list-style: none;
}

map {
    -webkit-box-shadow: 5px 5px 37px 17px #b1b1b1; 
    box-shadow: 5px 5px 37px 17px #b1b1b1;
}

footer {
    height: 200px;
    display: flex;
    margin-top: -75px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color-black);
}

footer a {
    color: var(--color-terciaria);
    font-family: 'Goldman', sans-serif;
    font-size: 1rem;
    text-decoration: none;
    margin-top: 45px;
    margin-bottom: 45px;
}